<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% load static %}
    <link rel="stylesheet" text="text/css" href="{% static 'virtual_assistant/style.css' %}" />

    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

</head>
<body>
    

    <h1>Virtual Chatterbot Assistant App</h1>

    <div>
        <div id="chatbot">
            <p class="botText"><span>Hi there</span></p>
        </div>

        <div id="userInput">
            <input type="text" id="textInput" name="userMessage" placeholder="Type your message..."/>
            <input type="submit" id="buttonInput" value="Send" />
        </div>


    </div>




    <script>

        // This will get text from the user
        function getUserResponse(){

            var userText = $('#textInput').val();
            // whenever the user type text, display it
            var userHTML = "<p class='userText'>User: <span>"+userText+"</span></p>";
            $('#textInput').val("");
            // append the text to chatbot input field inside the box
            $('#chatbot').append(userHTML);

            //Ajax request: to send the text from the frontend to backend
            // We need to use Ajax request to send the user text to python/django
            // userMessage is the key python will use to access the userText
            // '' is url: to send the data from front to back end
            // make sure you make reference to path in the main url in Django project
            $.get('/virtual_assistant/getResponse',{userMessage:userText}).done(function(data){

                // it get the sent messenge from the backend and store it in data
                var returnedMessage = "<p class='botText'>Chatbot: <span>"+data+"</span></p>";
                // obtain this message to the chatbot
                $('#chatbot').append(returnedMessage);

            })
        }

        // if button is clicked, it should call the getUserResponse()
        $('#buttonInput').click(function(){
            getUserResponse();
        })




    </script>
    
</body>
</html>